.open-banner-txt{
    margin-top: 50px;
    margin-left: 100px;
    width: 50%;
    display: inline-block;
}
.link-part{

}
.open-link{
    display: block;
    width:150px;
    padding:10px;
    text-align: center;
    color:#8a8a8a;
    margin:20px auto;
    border:1px solid #8a8a8a;
}
.open-link:hover{
    background-color: #258ac9;
    color:#fff;
}